<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="C:/Users/admin/IdeaProjects/LGAutomation"><classes>
            <class name="tests.LGTest">
                <methods><include name="productCheckOut"/>
                    <include name="verifyHover"/>
                    <include name="SocialPageClick"/>
                </methods>
            </class>
        </classes>
        </test>
    </suite>